<a href="https://colab.research.google.com/github/Shuaib11-Github/shuaib/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# myreduce() function:
def myreduce(num):
  num_list = list(range(1,num+1))
  sum_of_elements = 0
  for i in num_list:
    sum_of_elements += i
  return num_list,sum_of_elements
num = int(input('Enter the numbers: '))
output_number = myreduce(num)
print('First N Natural Numbers: ',output_number[0])
print('Sum of first N Natural Numbers: ',output_number[1])

Enter the numbers: 20
First N Natural Numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sum of first N Natural Numbers:  210

In [2]:
# using reduce() function:
num=int(input("Please insert the number :"))
num_list= list(range(1,(num+1)))
# Import reduce function 
from functools import reduce
sum_of_elements = reduce((lambda x, y: x + y), num_list)

print("List of First n Natural numbers are:",num_list)
print("Sum of List elements are :",sum_of_elements)

Please insert the number :20
List of First n Natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Sum of List elements are : 210

In [4]:
# myfilter() function:
num = int(input('Enter the number: '))
num_list = list(range(1,num+1))
def filter(num):
  even_num = []
  odd_num = []
  for i in num_list:
    if i%5 == 0:
      if i%2 == 0:
        even_num.append(i)
      else:
        odd_num.append(i)
  return even_num,odd_num
output_num = filter(num)
print('List of numbers: ',num_list)
print('Even list which are multiple of 5: ',output_num[0])
print('Odd list which are multiple of 5: ',output_num[1])

Enter the number: 25
List of numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
Even list which are multiple of 5:  [10, 20]
Odd list which are multiple of 5:  [5, 15, 25]

In [3]:
# using filter() function:
number=int(input("Please insert the number: "))

num_list=list(range(1,number+1))

num_even_list=list(filter(lambda x: x%2==0,list(filter(lambda x: x%5==0 ,num_list))))
num_odd_list= list(filter(lambda x: x%2!=0,list(filter(lambda x: x%5==0 ,num_list))))

print("List of numbers:",num_list)
print("List of Even numbers, which are multiples of 5 are:",num_even_list)
print("List of Odd numbers, which are multiples of 5 are:",num_odd_list)

Please insert the number: 25
List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
List of Even numbers, which are multiples of 5 are: [10, 20]
List of Odd numbers, which are multiples of 5 are: [5, 15, 25]

In [5]:
[l*i for l in 'xyz' for i in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [6]:
[l*i for i in range(1,5) for l in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [7]:
# I Method:
[[i+j] for j in range(1,4) for i in range(1,4)]

# II Method:
num = [2,3,4]
[[j+n] for n in range(3) for j in num]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [8]:
# I Method:
[[j+n for n in range(4)] for j in range(2,6)]

# II Method:
num = [2,3,4,5]
[[j+n for n in range(4)] for j in num]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [9]:
# I Method:
[(j,i) for i in range(1,4) for j in range(1,4)]

# II Method:
num = [1,2,3]
[(j,i) for i in num for j in num]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]