<a href="https://colab.research.google.com/github/Shuaib11-Github/shuaib/blob/master/Program_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Type of each variables in a single line

In [ ]:
a,b,c = 1,'string',3.14
print(a),print(b),print(c)
print(type(a)),print(type(b)),print(type(c))

1
string
3.14
<class 'int'>
<class 'str'>
<class 'float'>

(None, None, None)

swap of variables

In [ ]:
a,b = 10,20
b,a = a,b
print(b),print(a)

10
20

(None, None)

 len of string without using inbuilt function

In [ ]:
a = 'String'
count = 0
for i in a:
    count += 1
print(count)

6

In [ ]:
def school():
  name = 'John'
  print('His name in school is',name)
  

def college():
  name = 'Max'
  print('His name in college is',name)
  school()

def work():
  name = 'Peter'
  print('His name in work location',name)
  college()

work()

His name in work location Peter
His name in college is Max
His name in school is John

In [ ]:
phone = int()

def Ayaz():
  global phone
  phone = 127162
  print(f"Ayaz\'s phone number is {phone}")

def Shuaib():
  global phone
  phone = 439860
  print(f"Shuaib\'s phone number is {phone}")

def Shuheb():
  global phone
  phone = 218698
  print(f"Shuheb\'s phone number is {phone}")

name = input("Enter a/b/c:")

if name == 'a':
  Ayaz()
elif name == 'b':
  Shuaib()
else:
  Shuheb()

Enter a/b/c:c
Shuheb's phone number is 218698

In [ ]:
balance = 0

def user_A():
  global balance
  x = int(input())
  balance = balance + x

def user_B(X):
  global balance
  balance = balance + X

user_A()
user_B(600)
print(balance)

1000
1600

In [ ]:
n = int(input())
l1 = [197,999,893,289,367,10,859,718,405,673]
if n > 1000:
  print('Invalid')
else:
  if n%2==1 and n in l1:
    print('Great')
  elif n%2==1 and n not in l1:
    print('Not Great')
  elif n%2==0 and n in l1:
    print('Great')
  #elif n%2==0 and n not in l1:
    #  print('Not Great')
  else:
    print('Not Great')

64
Not Great

In [ ]:
marks = {'John':78,
         'Smith':35,
         'AB': 99,
         'Humpty':12,
         'Dumpty':65}
failed_Students = []
top_Students = []
def identifier(marks):
  for k, v in marks.items():
    if v<35:
      failed_Students.append(k)
    elif v>35 and v>90:
      top_Students.append(k)
  return top_Students,failed_Students

top, failed = identifier(marks)
print('The top student is ',top)
print('The faield student is ',failed)

The top student is  ['AB']
The faield student is  ['Humpty']

In [ ]:
view,edit,create = 1, 1, 1
class User:
  def __init__(self,rights):
    self.rights = rights
  def can_view(self):
    return view & self.rights
  def can_edit(self):
    return edit & self.rights
  def can_create(self):
    return create & self.rights

viewer = User(view)
editor = User(view|edit)
creator = User(view|edit|create)

if creator.can_create():
  print('Yes, creator can view, edit and create the file')
else:
  print('No')

if editor.can_edit():
  print('Yes, editor can view and edit the file')
else:
  print('No')

if viewer.can_view():
  print('Yes, viewer can view the file')
else:
  print('No')

Yes, creator can view, edit and create the file
Yes, editor can view and edit the file
Yes, viewer can view the file

In [ ]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
for i in l1:
  if i in l2:
    print('Overlapping')
else:
  print('Not Overlapping')

Not Overlapping

In [ ]:
ayaz = 1
shuheb = 1
candies = [8,2,1,5,3]

total = ayaz+shuheb

if total not in candies:
  print(f'candies not available for {total} rupees')
else:
  print(f'Candies available for {total} rupees')

Candies available for 2 rupees

In [ ]:
ans = int(input('Enter the year of numpy release: '))
real_ans = 1991

if ans is real_ans:
  print('wrong answer')
else:
  print('correct answer')

Enter the year of numpy release: 1991
correct answer

In [ ]:
def my_function(a,b):
  return a+b

In [ ]:
my_function(5,8.15)

13.15

In [ ]:
def my_function(a,b=4):  # Default parameter
  return a*b

In [ ]:
my_function(5)

20

In [ ]:
def my_function(a,b=4,c): # we have to se Default value to every parameter after a default parameter is set to one variable
  return a+b+c  # we get an error as "non-default argument follows default argument"

In [ ]:
def my_function(a,b=4,c=5): # To overcome we modified the function
  return a+b+c

In [ ]:
my_function(1)

10

In [ ]:
my_function(2,3) # we can modify values in sequence only if we have multiple parameters.
# here b is followed by a so a takes 2 and b takes 3 and c takes default value assigned during function call.

10

In [ ]:
# we can use keyword argument to shuffle the parameter with different values like
def func(m,s,e):
  return m+s+e

func(98,99,98)
# or
func(m=98,s=99,e=98)
# or
func(s=99,e=98,m=98)

295

In [ ]:
def marks(**score):
  print("Marks in Maths:", score['Maths'])

marks(Science=98,Maths=99,English=98)

Marks in Maths: 99

In [ ]:
def cube(i):
  return i**3

cube(3)

27

In [ ]:
def cube_or_not(i):
  if i%3==0:
    return i**3
  else:
    return f'{i} in not divisible by 3'

cube_or_not(5)

'5 in not divisible by 3'

Classes

In [ ]:
class person:
  def __init__(self,Name,Age):
    self.Name, self.Age = Name, Age
  def display(self):
    print('Name:',self.Name,'\nAge:',self.Age)
  
p1 = person('Shuaib', 28)
p1.display()

Name: Shuaib
Age: 28

Inheritance of a class

In [ ]:
# Here student is child class and person is parent class.
# Inheritance can be done by two ways:
# 1st Method:
class student(person):
  def __init__(self,Name,Age):
    self.Name, self.Age = Name, Age
    #super().__init__(Name,Age)

s1 = student('Ayaz', 18)
s1.display()

Name: Ayaz
Age: 18

Or

In [ ]:
# II Method:
class student1(person):
  def __init__(self,Name,Age):
    #self.Name, self.Age = Name, Age
    super().__init__(Name,Age)

s2 = student1('Shahbaz', 10)
s2.display()

Name: Shahbaz
Age: 10

In [ ]:
class vehicle:
  def __init__(self,passenger):
    self.passenger = passenger
  def collection(self):
    return self.passenger * 79
  
class Bus(vehicle):
  pass

n = int(input('Enter the number of passenger:'))
bus = Bus(n)
print('Total collection is:',bus.collection())

Enter the number of passenger:10
Total collection is: 790

In [ ]:
class vehicle:
  def __init__(self,fuel,mileage):
    self.fuel = fuel
    self.mileage = mileage
  def calc(self):
    return self.fuel *85, self.mileage * self.fuel
  
class Bike(vehicle):
  pass

total_kms = int(input('Enter the distance to be travelled:'))
mileage = 35
fuel = int(input('Enter the fuel to be filled:'))
bike = Bike(fuel,mileage)

fuel_price, total_mileage = bike.calc()
print(f'Fuel filled for Rs.{fuel_price}')
print(f'Total mileage of bike {total_mileage}')
can_travel = abs(total_kms - total_mileage)
print(can_travel)

if total_kms > total_mileage:
  #print(n)
  print(f'fuel is not enough to reach destination, please fill the fuel again after {total_kms-can_travel} kms')
else:
  print('fuel is enough to reach the destination')

Enter the distance to be travelled:358
Enter the fuel to be filled:11
Fuel filled for Rs.935
Total mileage of bike 385
27
fuel is enough to reach the destination

In [ ]:
class vehicle:
  def __init__(self,name):
    self.name = name
  def max_speed(self,speed):
    return f'Max speed of vehicle {self.name} is {speed}'

class x(vehicle):
  def max_speed(self,speed='184kmph'):
    return super().max_speed(speed='184kmph')
class y(vehicle):
  def max_speed(self,speed='234kmph'):
    return super().max_speed(speed='234kmph')
class z(vehicle):
  def max_speed(self,speed='293kmph'):
    return super().max_speed(speed='293kmph')

vehicle_type = input('Enter vehicle type x/y/z: ')

if vehicle_type == 'x':
  vehicle_type = x(vehicle_type)
elif vehicle_type == 'y':
  vehicle_type = y(vehicle_type)
elif vehicle_type == 'z':
  vehicle_type = z(vehicle_type)

print(vehicle_type.max_speed())

Enter vehicle type x/y/z: x
Max speed of vehicle x is 184kmph

In [ ]:
import datetime
tday=datetime.date.today()
print(tday)
bday=datetime.date(2017,9,18)
print(bday)
t_day=bday-tday
t_day

2021-07-09
2017-09-18

datetime.timedelta(days=-1390)

In [ ]:
bday=datetime.date(2021,7,11)
bday.weekday()

0

In [ ]:
from datetime import date

def birthday(birth):
  tday1 = date.today()
  return tday1.year - birth.year - ((tday1.month, tday1.day) < (birth.month, birth.day))

year = int(input('Enter year of birth:'))
month = int(input('Enter month of birth:'))
date_ = int(input('Enter day of birth:'))
birth = date(year,month,date_)

age_now = birthday(birth)
print("Employee's age is: ",age_now)

Enter year of birth:1992
Enter month of birth:11
Enter day of birth:6
Employee's age is:  28

In [ ]:
from datetime import date, timedelta

def allsundays(year):
  d = date(2022,1,1)
  d += timedelta(days = 6 - d.weekday())
  print(d)
  while d.year == year:
    yield d
    d += timedelta(days = 7)

sunday_counts = [] 
for d in allsundays(2022):
  sunday_counts.append(d)

money = 100 * len(sunday_counts)
print(f'Money from sunday coaching {money} rupees')

2022-01-02
Money from sunday coaching 5200 rupees

In [ ]:
d = date(2022,1,1)
d += timedelta(days = 6 - d.weekday())
print(d)

2022-01-02

In [ ]:
from datetime import datetime, timedelta

now = datetime.now()
print("Today's date is ", str(now))

deadline = now + timedelta(days = 38)
print(f'Deadline is {deadline}')

appraisal = now + timedelta(weeks = 6)
print(f'Appraisal meeting is {appraisal}')

if appraisal < deadline:
  print('Appraisal meet before deadline task')
else:
  print('Appraisal meet after deadline task')

Today's date is  2021-07-09 10:00:05.934027
Deadline is 2021-08-16 10:00:05.934027
Appraisal meeting is 2021-08-20 10:00:05.934027
Appraisal meet after deadline task

In [ ]:
import numpy as np
a = np.array([1,2,3,4,0,6])
list(a)

[1, 2, 3, 4, 0, 6]

In [ ]:
import pandas as pd
df = pd.DataFrame.from_items()

In [ ]:
import numpy as np
0 * np.nan

nan

In [ ]:
np.nan == np.nan

False

In [ ]:
np.inf > np.nan

False

In [ ]:
np.nan - np.nan

nan

In [ ]:
0.3 == 3 * 0.1

False

In [ ]:
print(0.3) == print(3 * 0.1)

0.3
0.30000000000000004

True

In [ ]:
print(type(np.nan)) == print(type(np.nan))

<class 'float'>
<class 'float'>

True